.btn-primary {
    color: white;
    background: #010150 !important;
}

.btn-success {
    background: green !important;
}

.btn-info{
    background: #4479b3 !important;
}

.btn-link{
    color:blue !important;
    background: lightyellow !important;
}

input {
    border: 2px solid rgba(0, 0, 0, 0.5) !important;
    border-radius: 4px;
}

input:focus {
    border-color: rgba(0, 0, 0, 0.7) !important;
}

.form-control, .custom-select {
    border: 2px solid rgba(0, 0, 0, 0.5) !important;
    border-radius: 4px;
}

.form-control:focus, .custom-select:focus {
    border-color: rgba(0, 0, 0, 0.7) !important;
}
