.btn-primary {
    color: white;
    background: #010150 !important;
}

.btn-success {
    background: green !important;
}

.btn-info{
    background: #4479b3 !important;
}

.btn-link{
    color:blue !important;
    background: lightyellow !important;
}

:focus {
    outline: 2px solid #010150 !important;
    outline-offset: 2px;
}
